body{
   background-color: #ddddf0;
}
button {
   background-color: #ddddf0;

}
input {
   background-color: #ddddf0;
}
#root {
   max-width: 1600px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   padding-bottom: 100px;
      
}
.App{
   padding-top: 50px;
   text-align: center;

}
.movieCard{
   width: 350px;
   min-height: 300px;
   box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
   margin: 10px;
   padding-top: 10px;


}

.movieList {
   display: flex;
   flex-wrap: wrap;
   list-style: none;
   padding-left: 60px;
   padding-right: 60px;
}

.btnContaine {
   display: block;
   display: flex;
   justify-content: center;
}

.movieCard_title {
   height: 100px;
   
}
.movieCard_images {
   width: 350px;
}
.description {
   padding: 10px 30px; 
}
.link{
   text-decoration: none;
   color: black;
}
.castList{
   display: flex;
   flex-wrap: wrap;
   width: 1000px;
   margin-left: auto;
   margin-right: auto;
   padding-left:50px;
   padding-right: 50px;
   list-style: none;
}
.navLink{
   text-decoration: none;
   font-size: 40px;
   color: black;
   display: block;
}
.navLink__active {
   color: orange;
}
.linkList{
   list-style: none;
   display: flex;
   justify-content: space-around;
}
.MovieDetailsContainer{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 1000px;
   display: flex;
}
.MovieDetailsDescription{
   display: flex;
   flex-direction: column;
   padding: 50px;
}
.additionalInformation{
   padding-top: 20px;
   display: flex;
   justify-content: space-evenly;
}
.actorContainer{
   width: 100px;
   margin-right: 5px;
   box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.actorName{
   font-size: 12px;
   height: 26px;
}
.reviewContainer {
   width: 1000px;
   margin-bottom: 10px;
   box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
   padding: 15px;
}
.castinContainer{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
}